<div id="center">
  <div class="topbar">
    <div id="contactsbar"><h6 id="contactstext">Contacts</h6></div>
  </div>
  <div class="border_line"></div>
  <div class="topbaritem">
    <div class="contactsbaritem">
      <img  class="socialogocontacts" src="/img/facebooklogo.png">
      <h6 class="contactstextitem">Facebook</h6>
      <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, pariatur!</h6>
    </div>
  </div>
  <div class="topbaritem">
    <div class="contactsbaritem">
      <img  class="socialogocontacts" src="/img/instagramlogo.png">
      <h6 class="contactstextitem">Instagram</h6>
      <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequuntur?</h6>
    </div>
  </div>
  <div class="topbaritem">
    <div class="contactsbaritem">
      <img  class="socialogocontacts" src="/img/twitterlogo.png">
      <h6 class="contactstextitem">Twitter</h6>
      <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, quam.</h6>
    </div>
  </div>
</div>