<div id="centerhomepage">
  <div id="homeheader">
    <a href="/"><div class="homealtlefton"><h6 class="homealttext">My Lists</h6></div></a>
    <a href="/new_list"><div class="homealtmid"><h6 class="homealttext">New List</h6></div></a>
    <a href="/contributed_lists"><div class="homealtright"><h6 class="homealttext">Contributed Lists</h6></div></a>
  </div>
  <div>
    <% for lists in @lists %>
    <div class="listtopbar"><div class="listsname"><h6 class="liststext"><%= lists.list_name %></h6></div></div>
   <% end %>
  </div>
</div>