<div id="centerhomepage">
  <div id="homeheader">
    <div class="homealt"><h6 class="homealttext">My Lists</h6></div>
    <div class="homealt"><h6 class="homealttext">New List</h6></div>
    <div class="homealt"><h6 class="homealttext">Contributed Lists</h6></div>
  </div>
  <div>

  </div>
</div>