<h1>Hello World</h1>
<form method="get" action="/register">
  <button type="submit">Register</button>
</form>
<form method="post" action="/login">
<input type="text" name="username" placeholder="Username">
<input type="text" name="password" placeholder="Password">
<button type="submit">Login</button>
</form>