<div id="homecenter">
  <div class="maincontentbar">
    <img class="ourcreator" src="/img/welcome.jpg">
  </div>
  <div class="maincontenttext">
    <h6 class="contenttext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam beatae consequuntur cumque cupiditate debitis delectus deleniti dolores, doloribus eaque earum eius eligendi eveniet facilis harum id inventore maiores maxime minima minus molestiae necessitatibus nihil non quae quo quod ratione repellat sed sequi temporibus ullam unde veniam voluptatum? Alias amet earum eius laborum minus quis quod. Asperiores, at autem cumque doloribus dolorum ea error esse est excepturi fugiat modi, perspiciatis quis, quod reiciendis rerum ullam vero? Consectetur eius illo neque.</h6>
  </div>
  <div class="borderlinehome"></div>
  <div class="maincontentbar">
    <img class="ourcreator" src="/img/ourcreator.jpg">
  </div>
  <div class="maincontenttext">
    <h6 class="contenttext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dicta laboriosam quis sed velit? A adipisci autem beatae, blanditiis culpa cum cupiditate eaque eius expedita illum ipsum molestias nobis numquam omnis quis, reprehenderit sapiente? Amet deserunt id iure nemo nihil nostrum obcaecati repellat sapiente? Eaque est laboriosam quasi qui ratione.</h6>
  </div>
</div>