<div id="registercenter">
  <form action="/" method="get">
    <button type="submit" id="backbuttom">Back</button>
  </form>
  <h3 id="registertext">Register</h3>
<form action="/user/create" method="post" id="registerform">
  <div id="registerbars"><input type="text" name="first_name" placeholder="First Name">
  <br>
  <input type="text" name="last_name" placeholder="Last Name">
  <br>
  <input type="text" name="username" placeholder="Username">
  <br>
  <input type="text" name="mobil" placeholder="Mobil">
  <br>
  <input type="text" name="e_mail_address" placeholder="E-Mail Adress">
  <br>
  <input type="password" name="password" placeholder="Password" id="registerpassword">
  <br>
  <button type="submit" id="registerbutton">Register</button></div>
</form>
</div>


