<h1>Register</h1>
<form action="/user/create" method="post" >
  <input type="text" name="first_name" placeholder="First Name">
  <br>
  <input type="text" name="last_name" placeholder="Last Name">
  <br>
  <input type="text" name="username" placeholder="Username">
  <br>
  <input type="password" name="password" placeholder="Password">
  <br>
  <input type="text" name="mobil" placeholder="Mobil">
  <br>
  <input type="text" name="e_mail_address" placeholder="E-Mail Adress">
  <br>

  <button type="submit">Register</button>
</form>