html body {
    padding: 0;
    margin: 0;
    background: url(/img/Background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#header {
    position: fixed;
    width: 100%;
    background-color: #cfcdcd;
    height: 90px;
    border-bottom: solid #ffa500;
}

header nav a {
    font-size: 30px;
    color: orange;
    opacity: 1;
    text-decoration: none;
    text-align: center;
    margin-left: 6%;
    margin-top: 30px;
    float: left;
}

header nav a:hover {
    color: black;
    opacity: 0.7;
}

header nav img {
    margin-left: 16%;
    margin-top: -8px;
    width: 180px;
    height: 140px;
    float: left;
}

header nav div#login {
    margin-top: 15px;
    margin-left: 8.5%;
    float: left;
    width: 25.64%;
}

input[type="text"], select {
    width: 100%;
    height: 25px;
    padding: 4px 20px;
    margin-bottom: 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

input[type="password"], select {
    width: 200px;
    height: 25px;
    padding: 4px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

input[type="password"]#registerpassword, select {
    width: 100%;
    height: 25px;
    padding: 4px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

button {
    width: 90px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.inputs {
    float: left;
    width: 200px;
    margin-right: 10px;
}

#register {
    margin-top: 22px;
}

button:hover {
    background-color: #45a049;
}

#settings {
    margin-top: 30px;
    margin-left: 16%;
}

#logout {
    margin-top: 22px;
    margin-left: 10.2%;
}

#grillkorv {
    padding-top: 90px;
}

#registercenter {
    border-radius: 10px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    margin-top: 30px;
    color: white;
    background-color: rgba(64, 64, 64, 0.8);
}

#centerhomepage {
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    width: 65%;
    min-height: 600px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 30px;
    color: white;
    background-color: rgba(64, 64, 64, 0.8);
}

#center {
    border-radius: 10px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    width: 65%;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 30px;
    color: white;
    background-color: rgba(64, 64, 64, 0.8);
}

#homecenter {
    border-radius: 10px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    width: 65%;
    min-height: 1580px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 30px;
    color: white;
    background-color: rgba(64, 64, 64, 0.8);
}

#registertext {
    margin-top: 30px;
    margin-left: 20%;
    font-size: 60px;
}

#registerbars {
    margin-top: 30px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

#registerbutton {
    float: right;
}

#registerform {
    height: 255px;
}

#bottombar {
    width: 65%;
    height: 60px;
    bottom: 0px;
    margin-bottom: 0%;
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: #9c9a9a;

}

#bottombar1 {
    height: 60px;
    width: 100%;
    background-color: #9c9a9a;

}

button#backbuttom {
    width: 90px;
    background-color: #b7c840;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

button#backbuttom:hover {
    background-color: #99ab38;
}

#homeheader {
    height: 50px;
    width: 100%;
}

.homealtleft {
    height: 50px;
    width: calc(98.8% / 2);
    background-color: #565457;
    float: left;
    text-align: center;
    border-left: solid gray;
}

.homealtmid {
    height: 50px;
    width: calc(98.8% / 2);
    background-color: #565457;
    float: left;
    text-align: center;
    border-left: solid gray;
    border-right: solid gray;
}

.homealttext {
    font-size: 30px;
    color: orange;
    opacity: 1;
    text-decoration: none;
    margin-top: 12px;
}

.homealtleft:hover, .homealtmid:hover, .liststar:hover, .listsname:hover {
    background-color: #686868;
}

.homealtlefton {
    height: 50px;
    width: calc(98.8% / 2);
    background-color: #686868;
    float: left;
    text-align: center;
    border-left: solid gray;
}

.homealtmidon {
    height: 50px;
    width: calc(98.8% / 2);
    background-color: #686868;
    float: left;
    text-align: center;
    border-left: solid gray;
    border-right: solid gray;
}

.socialogo {
    margin-top: 5px;
    margin-left: 10px;
    float: right;
}

#settingsbar {
    height: 50px;
    width: 99.2%;
    background-color: #565457;
    float: left;
    text-align: center;
    border-left: solid gray;
    border-right: solid gray;
}

#settingstext {
    font-size: 30px;
    color: orange;
    opacity: 1;
    text-decoration: none;
    margin-top: 12px;
}

#contactsbar {
    height: 50px;
    width: 99.2%;
    background-color: #565457;
    float: left;
    text-align: center;
    border-left: solid gray;
    border-right: solid gray;
}

#contactstext {
    font-size: 30px;
    color: orange;
    opacity: 1;
    text-decoration: none;
    margin-top: 12px;
}

.topbar {
    height: 50px;
}

.listtopbar {
    height: 50px;
    margin-top: 5px;
}

.liststext {
    font-size: 30px;
    color: orange;
    opacity: 1;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 15px;
}

.listsname {
    height: 50px;
    width: calc(100% - (50px + 50px + 70px + 15% + 17px));
    background-color: #565457;
    float: left;
    border-left: solid gray;
    border-right: solid gray;
}

.liststar {
    float: left;
    width: 50px;
    height: 50px;
    border-left: solid gray;
    background-color: #565457;
}

.textstar {
    font-size: 50px;
    color: black;
    opacity: 1;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 15px;
}

.listnumber {
    float: left;
    width: 50px;
    height: 50px;
    background-color: #565457;
}

.textnumber {
    font-size: 30px;
    color: black;
    opacity: 1;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 15px;
}

.listitem {
    float: left;
    width: 70px;
    height: 50px;
    border-right: solid gray;
    background-color: #565457;
}

.itemstext {
    font-size: 20px;
    color: orange;
    opacity: 1;
    text-decoration: none;
    margin-top: 15px;
}

.listremove {
    float: left;
    width: 15%;
    height: 50px;
    border-right: solid gray;
    background-color: #565457;
}

#remove {
    width: 90px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    height: 35px;
    padding: 0px 0px;
    margin-left: 20px;
}

#remove:hover {
    background-color: #a80000;
}

#listtopbar {
    margin-top: 5px;
    height: 100%;
}

.listfacts {
    min-height: 550px;
    width: 99.2%;
    background-color: #565457;
    float: left;
    text-align: center;
    border-left: solid gray;
    border-right: solid gray;
    padding-bottom: 10px;
}

button#backbuttomlist {
    width: 90px;
    background-color: #b7c840;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

button#backbuttomlist:hover {
    background-color: #99ab38;
}

.border_line {
    margin-top: 5px;
    width: 99.2%;
    height: 3px;
    background-color: gray;
    border-right: solid gray;
    border-left: solid gray;
}

.lefttab {
    width: calc(99.2% / 2);
    float: left;
    min-width: 250px;
    margin-bottom: 10px;
}

.righttab {
    width: calc(99.2% / 2);
    height: auto;
    min-height: 250px;
    float: left;
    min-width: 250px;
}

#listname {
    margin-top: 15px;
    font-size: 35px;
    color: orange;
    font-variant: small-caps;
}

.description {
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 100px;
    text-align: left;
    padding: 5px;
}

.border_line_50 {
    margin-top: -5px;
    width: auto;
    height: 3px;
    background-color: gray;
    border-right: solid gray;
    border-left: solid gray;
    margin-left: 10px;
    margin-right: 10px;
}

#additem {
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: grey;
    margin-top: 10px;
}

#itemname {
    margin-top: 10px;
    width: calc(100% - 120px);
    height: 40px;
    float: left;
    margin-left: 10px;
}

button#additembutton {
    height: 40px;
    width: 90px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

button#additembutton:hover {
    background-color: #45a049;
}

.itembar {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.itemlist {
    background-color: gray;
    width: 100%;
    float: left;
    border-bottom: solid orange;
}

.itemlisttext {
    text-align: left;
    font-size: 20px;
    color: orange;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    float: left;
}

button#doneitembutton {
    height: 40px;
    width: 90px;
    background-color: #b7c840;
    color: white;
    padding: 13px 20px;
    margin: 10px 0;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button#doneitembutton:hover {
    background-color: #c82b1c;
}

.border_line_50_orange {
    width: auto;
    height: 3px;
    background-color: orange;
    border-right: solid orange;
    border-left: solid orange;
}

.sharewith {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    color: white;
    margin-top: 24px;
    margin-bottom: 15px;
    padding-left: 10px;
}

#adduser {
    width: calc(100% - 15px);
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: grey;
    margin-top: 10px;
}

#username {
    margin-top: 10px;
    width: calc(100% - 120px);
    height: 40px;
    float: left;
    margin-left: 10px;
}

button#adduserbutton {
    height: 40px;
    width: 90px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

button#adduserbutton:hover {
    background-color: #45a049;
}

.newlisttopbar {
    height: 50px;
    margin-top: 5px;
}

.newlistfacts {
    min-height: 550px;
    width: 99.2%;
    background-color: #565457;
    margin-top: 5px;
    float: left;
    text-align: center;
    border-left: solid gray;
    border-right: solid gray;
}

textarea, select {
    width: 100%;
    height: 25px;
    padding: 4px 20px;
    margin-bottom: 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

#newlist {
    margin-top: 15px;
    font-size: 35px;
    color: orange;
}

input[type="hidden"] {
    display: none;
}

#newlistmain {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#newlistname {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box;


}

#newlistdescription {
    box-sizing: content-box;
    width: 100%;
    max-height: 100px;
}

button#addlistbutton {
    height: 40px;
    width: 90px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    margin-left: 10px;
    margin-right: -40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.userbar {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.border_line_50_white {
    width: 100%;
    height: 3px;
    background-color: white;
    border-right: solid white;
    border-left: solid white;
}

.userlist {
    background-color: gray;
    width: calc(100% + 6px);
    float: left;
    border-bottom: solid white;
    height: 60px;
    margin-right: 10px;

}

button#removeuserbutton {
    height: 40px;
    width: 90px;
    background-color: red;
    color: white;
    padding: 13px 20px;
    margin: 10px 0;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#imglogo {
    margin-left: 16%;
    margin-top: -8px;
    width: 180px;
    height: 140px;
    float: left;
}

button#removeuserbutton:hover {
    background-color: #a80000;
}

.maincontent {
    height: auto;
    width: 99.6%;
    margin-right: 10px;
}

.maincontentbar {
    height: auto;
    width: 99.6%;
    background-color: #565457;
    float: left;
    margin-right: 10px;
    text-align: center;
    border-left: solid gray;
    border-right: solid gray;
    margin-bottom: 10px;
}

.ourcreator {
    width: 100%;
    height: auto;
}

.maincontenttext {
    height: auto;
    width: 99.6%;
    background-color: #565457;
    float: left;
    border-left: solid gray;
    border-right: solid gray;
    margin-bottom: 10px;
}

.contenttext {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: -20px;
}

.borderlinehome {
    margin-bottom: 10px;
    margin-top: 0px;
    width: 99.5%;
    height: 3px;
    background-color: gray;
    border-right: solid gray;
    border-left: solid gray;
    float: left;
}

.topbaritem {
    min-height: 100px;
    margin-top: 5px;
}

.contactsbaritem {
    min-height: 100px;
    width: 99.2%;
    background-color: #565457;
    float: left;
    text-align: center;
    border-left: solid gray;
    border-right: solid gray;
}

.socialogocontacts {
    margin-top: 25px;
    margin-left: 10px;
    float: left;
}

.contactstextitem {
    font-size: 30px;
    color: orange;
    opacity: 1;
    text-decoration: none;
    margin-top: 12px;
}

@media (max-width: 1280px) {
    .textstar {
        font-size: 0px;
    }

    .liststar {
        width: 0px;
        height: 0px;
        border-left: solid gray;
        background-color: #565457;
    }

    #imglogo {
        margin-left: 5%;
        width: 150px;
        height: 116.666667px;
    }

    header nav a {
        font-size: 30px;
        margin-left: 6%;
    }

    #settings {
        font-size: 30px;
        margin-left: 6%;
    }

    input[type="text"], select {
        width: 175px;
    }

    input[type="password"], select {
        width: 175px;
    }

    header nav div#login {
        margin-left: 2%;
        width: 305px;
    }

    .inputs {
        float: left;
        width: 200px;
        margin-right: -25px;
    }

    #homeheader {
        height: 100px;
    }

    .homealtleft {
        height: 50px;
        width: 98.8%;
        border-left: solid gray;
        border-right: solid gray;
    }

    .homealtlefton {
        height: 50px;
        width: 98.8%;
        border-left: solid gray;
        border-right: solid gray;
    }

    .homealtmid {
        height: 50px;
        width: 98.8%;
        border-left: solid gray;
        border-right: solid gray;
    }

    .homealtmidon {
        height: 50px;
        width: 98.8%;
        border-left: solid gray;
        border-right: solid gray;
    }

    .listremove {
        width: auto;
        padding-right: 15px;
    }

    #remove {
        margin-left: 15px;
    }

    #header {
        padding-left: 8%;
    }
}

@media (max-width: 1050px) {
    #header {
        padding-left: 2%;
    }

    #register {
        position: absolute;
        top: 0px;
        right: 5px;
    }
}

@media (max-width: 900px) {
    header nav a {
        margin-left: 5%;
    }

    #settings {
        margin-left: 5%;
    }

    #header {
       padding-left: 1px;
    }

    #register {
        position: absolute;
        top: 0px;
        right: 5px;
    }
}

@media (max-width: 800px) {
    #imglogo {
        width: 0px;
        height: 0px;
    }

    #register {
        position: absolute;
        top: 0px;
        right: 5px;
    }

    input[type="text"], select {
        width: 150px;
    }

    input[type="password"], select {
        width: 150px;
    }

    header nav a {
        font-size: 25px;
    }

    #settings {
        font-size: 25px;
    }

    .inputs {
        width: 155px;
        margin-right: 5px;
    }

    .contenttext {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    #centerhomepage {
        width: calc(100% - 15px);
        margin-right: 15px;
        border-radius: 0px;

    }

    #registercenter {
        width: calc(100% - 15px);
        margin-right: 15px;
        border-radius: 0px;
    }

    #center {
        width: calc(100% - 15px);
        margin-right: 15px;
        border-radius: 0px;
    }

    #homecenter {
        width: calc(100% - 15px);
        margin-right: 15px;
        border-radius: 0px;
    }

    .liststext {
        font-size: 20px;
    }

    input[type="text"], select {
        width: 100px;
    }

    input[type="password"], select {
        width: 100px;
    }

    .inputs {
        width: 130px;
    }

    #register {
        position: absolute;
        top: 0px;
        right: 5px;
    }

    #header {
        min-width: 500px;
    }

    #logout {
        margin-left: 6%;
    }

    .contenttext {
        font-size: 13px;
    }
}
